In [35]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# ^ import packages for data exploration

In [36]:
df = pd.read_csv(r'')
# ^ read CSV into variable 'df'
df
# ^ view df

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-16690300025,01/02/2019,4449,KUM & GO #121 / URBANDALE,12041 DOUGLAS PKWY,URBANDALE,50322.0,NaN,77.0,POLK,...,37991,SMIRNOFF 80PRF MINI,12,500,7.47,11.21,2,22.42,1.0,0.26
1,INV-16677600011,01/02/2019,2478,PRAIRIE MEADOWS,ONE PRAIRIE MEADOWS DRIVE,ALTOONA,50009.0,NaN,77.0,POLK,...,44217,BARTON RUM LIGHT,12,1000,4.00,6.00,24,144.00,24.0,6.34
2,INV-16702300003,01/02/2019,3705,LIQUOR LOCKER,507 1ST AVE #100,ROCK RAPIDS,51246.0,NaN,60.0,LYON,...,11777,BLACK VELVET,12,1000,6.63,9.95,12,119.40,12.0,3.17
3,INV-16693100018,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,IDA,...,35918,FIVE O'CLOCK VODKA,6,1750,7.20,10.80,6,64.80,10.5,2.77
4,INV-16685400057,01/02/2019,2524,HY-VEE FOOD STORE / DUBUQUE,3500 DODGE ST,DUBUQUE,52001.0,NaN,31.0,DUBUQUE,...,46351,HAWKEYE LIGHT RUM,12,1000,4.34,6.51,12,78.12,12.0,3.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380340,INV-24274600030,12/31/2019,5728,BEER THIRTY DENISON,923 4TH AVENUE SOUTH,DENISON,51442.0,POINT (-95.360162 42.012412),24.0,CRAWFORD,...,27723,JIM BEAM HONEY,48,100,1.25,1.88,48,90.24,4.8,1.26
2380341,INV-24274200073,12/31/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,IDA,...,11296,CROWN ROYAL,12,750,15.59,23.39,12,280.68,9.0,2.37
2380342,INV-24281000020,12/31/2019,4557,HOMETOWN FOODS / TRAER,420 SECOND ST,TRAER,50675.0,POINT (-92.468086 42.193386),86.0,TAMA,...,37997,SMIRNOFF 80PRF,12,1000,9.25,13.88,2,27.76,2.0,0.52
2380343,INV-24275000013,12/31/2019,5343,FROHLICH'S SUPER VALU,403 MAIN ST.,COON RAPIDS,50058.0,POINT (-94.676021 41.870861),14.0,CARROLL,...,11297,CROWN ROYAL,12,1000,18.89,28.34,1,28.34,1.0,0.26
2380344,INV-24284000001,12/31/2019,3896,SMOKIN' JOE'S #18 TOBACCO AND LIQUOR OUTLET,1901 BROADWAY ST,IOWA CITY,52240.0,POINT (-91.520308 41.641383),52.0,JOHNSON,...,34433,GREY GOOSE,12,750,18.49,27.74,2,55.48,1.5,0.39

In [37]:
df.isnull().sum()
# ^ determine which columns have NULL values

Invoice/Item Number           0
Date                          0
Store Number                  0
Store Name                    0
Address                    4764
City                       4764
Zip Code                   4764
Store Location           219390
County Number              4764
County                     4764
Category                   2918
Category Name              2918
Vendor Number                 1
Vendor Name                   1
Item Number                   0
Item Description              0
Pack                          0
Bottle Volume (ml)            0
State Bottle Cost             0
State Bottle Retail           0
Bottles Sold                  0
Sale (Dollars)                0
Volume Sold (Liters)          0
Volume Sold (Gallons)         0
dtype: int64

In [38]:
df.describe()
# ^ obtain descriptive statistics for all numerical columns which can be review for problematic outliers

,Store Number,Zip Code,County Number,Category,Vendor Number,Item Number,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
count,2.380345e+06,2.375581e+06,2.375581e+06,2.377427e+06,2.380344e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06,2.380345e+06
mean,3.903901e+03,5.126670e+04,5.730555e+01,1.052185e+06,2.647152e+02,4.836175e+04,1.242525e+01,8.766395e+02,1.034431e+01,1.551888e+01,1.127750e+01,1.467100e+02,9.368987e+00,2.469610e+00
std,1.138921e+03,9.881870e+02,2.727291e+01,9.329829e+04,1.370791e+02,6.708207e+04,8.108758e+00,5.214263e+02,8.568864e+00,1.285549e+01,3.131091e+01,4.871768e+02,3.824454e+01,1.010336e+01
min,2.106000e+03,5.000200e+04,1.000000e+00,1.011100e+06,3.300000e+01,1.590000e+02,1.000000e+00,2.000000e+01,8.900000e-01,1.340000e+00,1.000000e+00,1.340000e+00,2.000000e-02,0.000000e+00
25%,2.624000e+03,5.031600e+04,3.100000e+01,1.012200e+06,1.150000e+02,2.682800e+04,6.000000e+00,7.500000e+02,5.500000e+00,8.250000e+00,3.000000e+00,3.375000e+01,1.500000e+00,3.900000e-01
50%,3.952000e+03,5.110300e+04,6.200000e+01,1.031200e+06,2.600000e+02,3.817700e+04,1.200000e+01,7.500000e+02,8.250000e+00,1.238000e+01,6.000000e+00,7.536000e+01,4.800000e+00,1.260000e+00
75%,4.971000e+03,5.230200e+04,7.700000e+01,1.062400e+06,3.890000e+02,6.486400e+04,1.200000e+01,1.000000e+03,1.296000e+01,1.944000e+01,1.200000e+01,1.485600e+02,1.050000e+01,2.770000e+00
max,9.042000e+03,5.722200e+04,9.900000e+01,1.901200e+06,9.780000e+02,9.992920e+05,4.800000e+01,6.000000e+03,1.749120e+03,2.623680e+03,6.750000e+03,7.843500e+04,1.181250e+04,3.120530e+03

In [39]:
updated_df = df[df['Address'].notnull() & df['Category'].notnull()& df['Vendor Number'].notnull()]
# ^ create a new table showing only non-NULL values in important columns
updated_df

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,INV-16690300025,01/02/2019,4449,KUM & GO #121 / URBANDALE,12041 DOUGLAS PKWY,URBANDALE,50322.0,NaN,77.0,POLK,...,37991,SMIRNOFF 80PRF MINI,12,500,7.47,11.21,2,22.42,1.0,0.26
1,INV-16677600011,01/02/2019,2478,PRAIRIE MEADOWS,ONE PRAIRIE MEADOWS DRIVE,ALTOONA,50009.0,NaN,77.0,POLK,...,44217,BARTON RUM LIGHT,12,1000,4.00,6.00,24,144.00,24.0,6.34
2,INV-16702300003,01/02/2019,3705,LIQUOR LOCKER,507 1ST AVE #100,ROCK RAPIDS,51246.0,NaN,60.0,LYON,...,11777,BLACK VELVET,12,1000,6.63,9.95,12,119.40,12.0,3.17
3,INV-16693100018,01/02/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,IDA,...,35918,FIVE O'CLOCK VODKA,6,1750,7.20,10.80,6,64.80,10.5,2.77
4,INV-16685400057,01/02/2019,2524,HY-VEE FOOD STORE / DUBUQUE,3500 DODGE ST,DUBUQUE,52001.0,NaN,31.0,DUBUQUE,...,46351,HAWKEYE LIGHT RUM,12,1000,4.34,6.51,12,78.12,12.0,3.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380340,INV-24274600030,12/31/2019,5728,BEER THIRTY DENISON,923 4TH AVENUE SOUTH,DENISON,51442.0,POINT (-95.360162 42.012412),24.0,CRAWFORD,...,27723,JIM BEAM HONEY,48,100,1.25,1.88,48,90.24,4.8,1.26
2380341,INV-24274200073,12/31/2019,5151,IDA LIQUOR,"500, HWY 175",IDA GROVE,51445.0,NaN,47.0,IDA,...,11296,CROWN ROYAL,12,750,15.59,23.39,12,280.68,9.0,2.37
2380342,INV-24281000020,12/31/2019,4557,HOMETOWN FOODS / TRAER,420 SECOND ST,TRAER,50675.0,POINT (-92.468086 42.193386),86.0,TAMA,...,37997,SMIRNOFF 80PRF,12,1000,9.25,13.88,2,27.76,2.0,0.52
2380343,INV-24275000013,12/31/2019,5343,FROHLICH'S SUPER VALU,403 MAIN ST.,COON RAPIDS,50058.0,POINT (-94.676021 41.870861),14.0,CARROLL,...,11297,CROWN ROYAL,12,1000,18.89,28.34,1,28.34,1.0,0.26
2380344,INV-24284000001,12/31/2019,3896,SMOKIN' JOE'S #18 TOBACCO AND LIQUOR OUTLET,1901 BROADWAY ST,IOWA CITY,52240.0,POINT (-91.520308 41.641383),52.0,JOHNSON,...,34433,GREY GOOSE,12,750,18.49,27.74,2,55.48,1.5,0.39

In [40]:
updated_df.nunique()
# ^ obtain counts of distinct values in each column

Invoice/Item Number      2372673
Date                         264
Store Number                1747
Store Name                  1756
Address                     1751
City                         428
Zip Code                     462
Store Location              1612
County Number                 99
County                        99
Category                      53
Category Name                 45
Vendor Number                190
Vendor Name                  191
Item Number                 3940
Item Description            3405
Pack                          18
Bottle Volume (ml)            33
State Bottle Cost           1208
State Bottle Retail         1208
Bottles Sold                 296
Sale (Dollars)             10133
Volume Sold (Liters)         669
Volume Sold (Gallons)        657
dtype: int64

In [41]:
updated_df['Sale (Dollars)'].sum()
# ^ obtain the sum of 'Sale (Dollars)' column

348279944.1799998

In [42]:
updated_df[updated_df['Category Name'] == 'AMERICAN VODKAS']['Sale (Dollars)'].sum()
# ^ obtain the sum of the best-selling category

51657037.21999999

In [43]:
updated_df[updated_df['Item Description'] == 'TITOS HANDMADE VODKA']['Sale (Dollars)'].sum()
# ^ obtain the sum of the best-selling item

17639949.230000004

In [44]:
updated_df[updated_df['Vendor Name'] == 'DIAGEO AMERICAS']['Sale (Dollars)'].sum()
# ^ obtain the sum of the best-selling vendor

72462812.25

In [45]:
updated_df[updated_df['County'] == 'POLK']['Sale (Dollars)'].sum()
# ^ obtain the sum of the best-selling vendor

82772509.88

In [46]:
updated_df[updated_df['City'] == 'DES MOINES']['Sale (Dollars)'].sum()
# ^ obtain the sum of the best-selling vendor

44514350.339999996

In [47]:
updated_df[updated_df['Store Name'] == 'CENTRAL CITY 2']['Sale (Dollars)'].sum()
# ^ obtain the sum of the best-selling vendor

11874337.59

In [48]:
updated_df['Date'] = pd.to_datetime(updated_df['Date'])
# ^ change 'Date' column data type from 'object' to 'datetime'
updated_df['day_of_week'] = updated_df['Date'].dt.dayofweek
# ^ set new column 'day_of_week' equal to the dayofweek version of the date
sales_by_dow = updated_df.groupby('day_of_week')['Invoice/Item Number'].count()
# ^ set sales_by_dow variable equal to the updated_df table, grouping by day of week with another column set as counts of invoices
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
# ^ updated day of week indexes so they're the literal day names rather than numbers
sales_by_dow.index = days
sales_by_dow

C:\Users\rpdas\AppData\Local\Temp\ipykernel_33992\2933801119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updated_df['Date'] = pd.to_datetime(updated_df['Date'])
C:\Users\rpdas\AppData\Local\Temp\ipykernel_33992\2933801119.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  updated_df['day_of_week'] = updated_df['Date'].dt.dayofweek

Monday       469467
Tuesday      550003
Wednesday    479552
Thursday     373762
Friday       459100
Saturday      40486
Sunday          303
Name: Invoice/Item Number, dtype: int64

In [49]:
grouped_data = updated_df.groupby('Category Name')['Sale (Dollars)'].sum()
# ^ Group data by category and sum
sorted_gd_cat = grouped_data.sort_values(ascending=False)
# ^ display grouped data in descending order to identify top category
sorted_gd_cat

Category Name
AMERICAN VODKAS                         51657037.22
CANADIAN WHISKIES                       42462962.97
STRAIGHT BOURBON WHISKIES               23953175.74
SPICED RUM                              21440715.49
WHISKEY LIQUEUR                         19758867.23
IMPORTED VODKAS                         16141185.74
TENNESSEE WHISKIES                      14535266.40
100% AGAVE TEQUILA                      12797818.53
IMPORTED BRANDIES                       11891239.36
BLENDED WHISKIES                         9599139.68
MIXTO TEQUILA                            8946644.98
AMERICAN FLAVORED VODKA                  8868543.16
IMPORTED CORDIALS & LIQUEURS             8373549.23
TEMPORARY & SPECIALTY PACKAGES           8138145.38
IRISH WHISKIES                           7905828.53
FLAVORED RUM                             7118730.44
CREAM LIQUEURS                           6539138.34
WHITE RUM                                6458616.35
IMPORTED FLAVORED VODKA                  6382553.11
AMERICAN SCHNAPPS                        5500764.97
COCKTAILS/RTD                            5496221.74
IMPORTED SCHNAPPS                        5336365.11
AMERICAN BRANDIES                        5249486.33
SCOTCH WHISKIES                          5214189.52
IMPORTED DRY GINS                        4680638.42
SINGLE MALT SCOTCH                       3714273.34
AMERICAN DRY GINS                        3471635.36
STRAIGHT RYE WHISKIES                    3239045.61
AMERICAN CORDIALS & LIQUEURS             2775647.63
SPECIAL ORDER ITEMS                      1911610.38
COFFEE LIQUEURS                          1853801.87
IMPORTED DISTILLED SPIRITS SPECIALTY     1477539.40
GOLD RUM                                 1175738.25
TRIPLE SEC                                754202.04
AGED DARK RUM                             709596.03
NEUTRAL GRAIN SPIRITS                     568130.58
SINGLE BARREL BOURBON WHISKIES            490627.95
NEUTRAL GRAIN SPIRITS FLAVORED            429160.80
AMERICAN DISTILLED SPIRITS SPECIALTY      340629.95
CORN WHISKIES                             235193.06
BOTTLED IN BOND BOURBON                   191838.84
IOWA DISTILLERY WHISKIES                  188730.90
MEZCAL                                    167404.53
FLAVORED GIN                              109036.06
AMERICAN SLOE GINS                         29277.63
Name: Sale (Dollars), dtype: float64

In [50]:
grouped_data = updated_df.groupby('Item Description')['Sale (Dollars)'].sum()
# ^ Group data by item and sum
sorted_gd_item = grouped_data.sort_values(ascending=False)
# ^ display grouped data in descending order to identify top item
sorted_gd_item

Item Description
TITOS HANDMADE VODKA                    17639949.23
BLACK VELVET                            12972237.70
CROWN ROYAL                             10995233.94
JACK DANIELS OLD #7 BLACK LABEL          9645788.51
FIREBALL CINNAMON WHISKEY                7703357.31
                                           ...
EL NIVEL BLANCO                               31.50
TEQUILA BREZON ORANGE                         29.98
BACARDI OAKHEART MINI                         24.90
PENNSYLVANIA DUTCH EGG NOG                    19.84
SEAGRAMS JUICY WATERMELON VODKA MINI          13.80
Name: Sale (Dollars), Length: 3405, dtype: float64

In [51]:
grouped_data = updated_df.groupby('Vendor Name')['Sale (Dollars)'].sum()
# ^ Group data by vendor and sum
sorted_gd_item = grouped_data.sort_values(ascending=False)
# ^ display grouped data in descending order to identify top vendor
sorted_gd_item

Vendor Name
DIAGEO AMERICAS              72462812.25
SAZERAC COMPANY  INC         32319035.74
JIM BEAM BRANDS              26325083.16
PERNOD RICARD USA            24643809.78
CONSTELLATION BRANDS INC     18692796.88
                                ...
ST. LOUIS DISTILLERY LLC          153.00
NORDEN SPIRITS LLC                144.00
STRONG SPIRITS DISTILLING         115.04
GUNSANDMORE INFO LLC               63.00
HEXA PARTNERS LP                   29.98
Name: Sale (Dollars), Length: 191, dtype: float64

In [52]:
grouped_data = updated_df.groupby('County')['Sale (Dollars)'].sum()
# ^ Group data by county and sum
sorted_gd_item = grouped_data.sort_values(ascending=False)
# ^ display grouped data in descending order to identify top county
sorted_gd_item

County
POLK          82772509.88
LINN          29878178.68
SCOTT         25031056.09
JOHNSON       19926345.12
BLACK HAWK    19385065.60
                 ...
WAYNE           145704.67
TAYLOR          136197.37
DAVIS           132173.41
ADAMS           100663.12
FREMONT          50339.10
Name: Sale (Dollars), Length: 99, dtype: float64

In [53]:
grouped_data = updated_df.groupby('City')['Sale (Dollars)'].sum()
# ^ Group data by City and sum
sorted_gd_item = grouped_data.sort_values(ascending=False)
# ^ display grouped data in descending order to identify top city
sorted_gd_item

City
DES MOINES         44514350.34
CEDAR RAPIDS       22370978.04
DAVENPORT          17674591.56
WEST DES MOINES    13058778.06
WATERLOO           12071064.42
                      ...
MORNING SUN            4611.14
MELBOURNE              4426.98
IRETON                 4100.03
WASHTA                 1986.15
BUSSEY                 1049.01
Name: Sale (Dollars), Length: 428, dtype: float64

In [54]:
grouped_data = updated_df.groupby('Store Name')['Sale (Dollars)'].sum()
# ^ Group data by store and sum
sorted_gd_item = grouped_data.sort_values(ascending=False)
# ^ display grouped data in descending order to identify top store
sorted_gd_item

Store Name
CENTRAL CITY 2                         11874337.59
HY-VEE #3 / BDI / DES MOINES           11269363.84
HY-VEE WINE AND SPIRITS / IOWA CITY     4998455.22
WILKIE LIQUORS                          3631094.06
LOT-A-SPIRITS                           3499930.70
                                          ...
HY-VEE FAST AND FRESH / STORM LAKE         1744.51
CIRCLE K #4706601 / BURLINGTON             1508.07
HOMETOWN FOODS - CONRAD                    1185.86
KATY DID'S GENERAL STORE                   1049.01
PARADISE DISTILLING COMPANY                  47.25
Name: Sale (Dollars), Length: 1756, dtype: float64